@import "../../styles/mixins";

.container {
  background: #1354dc;
  padding: 4em 0 1em 0;
}
.content {
  width: 87%;
  max-width: 1300px;
  margin: auto;
  @include flexRegular(row, flex-start);

  color: #fff;
}
.right {
  margin-left: 26%;
  @include flexRegular(row, flex-start);
}
.rightM {
  display: none;
}
.icons {
  @include flexRegular(row, flex-start);
  margin-right: 5em;
  img {
    margin-right: 1em;
  }
}
// .linksTop,
// .linksBody {
//   @include flexRegular(row, flex-start);
//   p {
//     margin-right: 1em;
//     cursor: pointer;
//   }
// }

.linksTop {
  @include flexRegular(row, flex-start);
  p {
    margin-right: 1em;
    cursor: pointer;
  }
  font-family: "Satoshi-Medium";
  font-size: 1.2em;
}
.linksBody {
  font-size: 0.9em;
  @include flexRegular(row, space-around);
  p {
    margin-right: 0.01em;
    cursor: pointer;
  }
}
.copyright {
  margin-top: 2.3em;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
}
@media (max-width: 1280px) {
  .left {
    width: 10%;
  }
  .right {
    margin-left: 10%;
    padding-left: 5em;

    width: 100%;
  }
}
@media (max-width: 1080px) {
  .content {
    width: 97%;
  }
  .icons {
    margin-right: 1em;
  }
  .right {
    margin-left: 5%;
    padding-left: 5em;
  }
}
@media (max-width: 820px) {
  .left {
    @include flexRegular(row, center);
  }
  .content {
    @include flexRegular(column, flex-start);
  }
  .right {
    display: none;
  }
  .rightM {
    @include flexRegular(column, flex-start);
  }
  .linksTopM,
  .linksBodyM {
    margin: 1.4em 0;
    @include flexRegular(row, flex-start);
    p {
      margin-right: 1em;
      cursor: pointer;
    }
  }
  .iconsM {
    margin: 0.5em 0 0.5em 0;
    img {
      margin-right: 1em;
    }
  }
}
